html, body {
  height: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background: #212121;
}

.header-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  padding-left: 20px;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 60px);
}

.editor {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border-right: 5px solid #e2e2e2;
}

.preview {
  width: 50%;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}
