<div class="app">
  <Header>
    <Examples examples="{{examples}}" active="{{activeExample}}" on:change="triggerChangeExample(event.example)">
  </Header>
  <section class="main">
    <Editor code="{{code}}" on:change="triggerChangeCode(event.code)"/>
    <Preview layer="{{layer}}"/>
  </section>
</div>

<script>
  import Header from './header.html'
  import Editor from './editor.html'
  import Preview from './preview.html'
  import Examples from './examples.html'

  export default {
    data () {
      return {
        code: '',
        examples: [],
        activeExample: ''
      }
    },

    methods: {
      triggerChangeCode (code) {
        this.fire('change:code', code)
      },

      triggerChangeExample (example) {
        this.fire('change:example', example)
      }
    },

    components: {
      Header,
      Editor,
      Preview,
      Examples
    }
  }
</script>

<style>
  .app {
    height: calc(100% - 60px);
  }

  .main {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
</style>
