<div class="app">
  <Header />
  <section class="main">
    <Editor code="{{code}}" on:change="triggerChangeCode(event.code)"/>
    <Preview layer="{{layer}}"/>
  </section>
</div>

<script>
  import Header from './header.html'
  import Editor from './editor.html'
  import Preview from './preview.html'

  export default {
    data() {
      return {
        code: ''
      }
    },

    methods: {
      triggerChangeCode(code) {
        this.fire('change:code', code)
      }
    },

    components: {
      Header,
      Editor,
      Preview
    }
  }
</script>

<style>
  .app {
    height: calc(100% - 60px);
  }

  .main {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
</style>
