<div class="editor" ref:editor></div>

<script>
  import debounce from 'lodash.debounce'
  import { CodeMirror } from 'lib'

  const settings = {
    mode: 'javascript',
    tabSize: 2,
    lineNumbers: true
  }

  export default {
    oncreate () {
      this.editor = CodeMirror(this.refs.editor, settings)

      this.observe('code', this.setCode.bind(this))
      this.editor.on('change', debounce(this.triggerChange.bind(this), 500))
    },

    methods: {
      setCode (code) {
        this.editor.setValue(code)
      },

      triggerChange (instance, options) {
        if (options.origin !== 'setValue') {
          this.fire('change', {
            code: this.editor.getValue()
          })
        }
      }
    }
  }

</script>

<style>
  .editor {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-right: 5px solid #e2e2e2;
  }

  .CodeMirror {
    height: 100%;
  }
</style>
